.details-dialog {
  article {
    width: clamp(400px, 80vw, 1200px);
    max-width: 1200px;

    header {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }

  .description {
    opacity: 0.75;
    margin-bottom: 1rem;
  }

  ul {
    margin: 20px 0;

    li {
      margin: 5px 0;
    }
  }

  :not(thead, tfoot) > * > td {
    --font-size: 1em;
  }
}
