.loading {
  position: fixed;
  top: 0;
  left: 50%;
  margin: 20px;
  transform: translate(-50%, 0);
  padding: 10px 30px;
  pointer-events: none;

  background: #005691;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;

  .loading-dots {
    position: relative;
    vertical-align: baseline;
    display: inline-block;
    margin-left: 20px;

    span {
      vertical-align: middle;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 4px;
      background: currentColor;
      opacity: 0;
      border-radius: 5px;

      animation: bounce 0.8s linear infinite;

      &:nth-child(2) {
        animation-delay: 100ms;
      }
      &:nth-child(3) {
        animation-delay: 200ms;
      }
      &:nth-child(4) {
        animation-delay: 300ms;
      }
    }
  }
}

@keyframes bounce {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
