.pagination {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  span {
    display: inline-block;
    margin: 10px;
  }

  button {
    background: var(--theme);
    width: 33px;
    height: 33px;
    border: none;
    margin: 0 2px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;

    &:hover {
      background: var(--theme-hover);
    }

    &:disabled {
      opacity: 0.5;
      filter: saturate(10%);
      cursor: default;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .pagination-buttons,
  select {
    margin: 5px;
    flex: 0 0 auto;
  }
}
