.table {
  width: 100%;
  border: 2px dotted #e8f1f5;
  padding: 0;
  margin: 10px 0;
  table-layout: fixed;

  .header {
    border-bottom: 1px solid #666;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .header,
  .cell {
    flex-grow: 1;
    padding: 7px 10px;

    @media (min-width: 600px) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (max-width: 949px) {
    .header-distribution {
      display: none;
    }
  }

  .cell-publisher {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #004a7c;
  }

  .header-publisher,
  .cell-title {
    flex: 8 1 500px;
  }

  .header-title {
    display: none;
  }

  .header-keyword,
  .cell-keyword {
    flex: 3 1 200px;
  }

  .header-distribution,
  .cell-distribution {
    flex: 2 1 200px;
    @media (max-width: 600px) {
      flex-basis: 50px;
    }

    white-space: normal;
  }

  .tbody .row:nth-child(2n + 1) {
    background-color: #e8f1f5;
  }
}
