.table {
  width: 100%;
  border: 1px solid var(--table-border-color);
  border-radius: var(--border-radius);
  padding: 0;
  margin: 10px 0;
  table-layout: fixed;

  .header {
    border-bottom: 1px solid var(--table-border-color);
  }

  .header,
  .cell {
    flex-grow: 1;
    padding: 7px 10px;

    @media (min-width: 600px) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (max-width: 949px) {
    .header-distribution {
      display: none;
    }
  }

  .cell-publisher {
    width: 100%;
    background-color: rgba(96, 96, 96, 0.1);
  }

  .header-publisher,
  .cell-title {
    flex: 12 1 200px;
  }

  .cell-title {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    span {
      flex-grow: 1;
    }
  }

  .header-title {
    display: none;
  }

  .header-description {
    width: 0;
    flex-grow: unset;
    padding: 0;
  }

  .cell-description {
    width: 44px;
    flex-grow: unset;
    text-align: center;
    svg {
      margin: 2px 0 0;
    }
  }

  .header-keyword,
  .cell-keyword {
    flex: 5 1 200px;
  }

  .header-distribution,
  .cell-distribution {
    flex: 0 0 80px;
  }

  .tbody .row:nth-child(2n + 1) {
    background-color: var(--table-row-stripped-background-color);
  }

  .tbody .row {
    display: flex;
    flex-wrap: wrap;

    &:not(.publisher) {
      cursor: pointer;
      transition: background-color 0.2s ease-out;

      &:hover {
        background-color: rgba(96, 96, 96, 0.15);
      }
    }
  }
}
