.App {
  padding: 20px;

  .filter {
    max-width: 100%;

    select {
      width: 100%;
      max-width: 100%;
    }
  }

  @media (min-width: 600px) {
    .tags {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .tag {
    display: inline-block;
    padding: 2px 4px;
    background: var(--primary);
    color: var(--primary-inverse);
    font-size: 12px;
    border-radius: var(--border-radius);
    margin: 0 2px;
  }

  & > header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 1rem;
    h1 {
      flex: 10 0 300px;
      margin: 0;
    }

    input {
      flex: 1 1 200px;
      margin: 0;
    }
  }

  & > footer {
    padding: 20px;
    text-align: center;
    opacity: 0.7;
  }
}
