.App {
  .filter {
    max-width: 100%;

    select {
      width: 100%;
      max-width: 100%;
    }
  }

  @media (min-width: 600px) {
    .tags {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .tag,
  .format {
    display: inline-block;
    padding: 2px 4px;
    border: 1px solid var(--theme-dark);
    background: var(--theme);
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    margin: 0 2px;
  }

  .format {
    font-weight: bold;
  }

  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    h1 {
      flex: 10 0 300px;
    }

    input {
      flex: 1 1 200px;
      margin: 10px;
    }
  }

  footer {
    padding: 20px;
    text-align: center;
    opacity: 0.7;
  }
}
