:root {
  --background: #fff;
  --text: #333;
  --header: #21232f;
  --theme: #005691;
  --theme-hover: #004a7c;
  --theme-dark: #004a7c;
  --focus: #005691;
  --link: var(--theme);
  --link-visited: #3c3e50;
  --input-border: #999;
  --input-bg: #fdfdfd;
  --input-bg-hover: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --text: #fff;
    --header: #f0f0f0;
    --theme: #003360;
    --theme-hover: #002240;
    --theme-dark: #002240;
    --link: #74b3fe;
    --link-visited: #888;
    --input-border: #444;
    --input-bg: #202020;
    --input-bg-hover: #1a1a1a;
  }
}

body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
dialog {
  background: var(--background);
  color: var(--text);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 95vh;
  overflow-y: auto;
  z-index: 2;
  border: 1px solid var(--theme-dark);
  max-width: 800px;
  width: 95vw;
  padding: 20px;
}

.dialog-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(96, 96, 96, 0.4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:focus {
  outline: 2px dotted var(--focus);
}

a:link {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

h1 {
  font-size: 28px;
  font-weight: 400;
  margin: 20px 0;
  color: var(--header);
}

input,
select {
  border: 1px solid var(--input-border);
  border-radius: 0;
  padding: 10px 15px;
  font-size: 16px;
  color: var(--text);
  background: var(--input-bg);

  &:hover,
  &:focus {
    background-color: var(--input-bg-hover);
  }
}

select {
  position: relative;
  margin: 5px 0;
  cursor: pointer;
}

input,
select,
button {
  transition: background-color 200ms ease-out;

  border-radius: 4px;
}

button {
  background: var(--theme);
  border: none;
  margin: 0 2px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  padding: 3px 10px;

  &:hover {
    background: var(--theme-hover);
  }

  &:disabled {
    opacity: 0.5;
    filter: saturate(10%);
    cursor: default;
  }
}

.x-row {
  display: flex;
  align-items: center;
}

.x-grow {
  flex: 1 0 10px;
}
