$enable-viewport: false;
$enable-responsive-spacings: false;
$enable-responsive-typography: false;
$enable-grid: false;
$primary-hue: 215;

@import "@picocss/pico/scss/pico";

:root {
  --spacing: 1rem;
  --block-padding: 2rem;
  --form-element-spacing-vertical: 0.5rem;
  --link: hsl(215deg, 85%, 41%);
  --link-hover: hsl(215deg, 90%, 28%);
  --link-focus: hsla(215deg, 90%, 28%, 0.05);
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --link: hsl(215deg, 85%, 58%);
    --link-hover: hsl(215deg, 85%, 65%);
    --link-focus: hsla(215deg, 85%, 65%, 0.1);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --typography-spacing-vertical: 1em;

  &:first-child {
    margin-top: 0;
  }
}

p:last-child {
  margin-bottom: 0;
}

button {
  padding: 2px 4px;
  font-weight: 600;
}

label {
  font-weight: 600;
}

.dialog-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a,
[role="link"] {
  --color: var(--link);
  --background-color: transparent;
}
a:is([aria-current], :hover, :active, :focus),
[role="link"]:is([aria-current], :hover, :active, :focus) {
  --color: var(--link-hover);
}
a:focus,
[role="link"]:focus {
  --background-color: var(--link-focus);
}

select {
  position: relative;
  margin: 5px 0;
  cursor: pointer;
}

.tabler-icon-external-link {
  width: 16px;
  vertical-align: -2px;
  margin-top: -8px;
}

.no-wrap {
  white-space: nowrap;
}
